@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 105, 110, 121;
    --background-start-rgb: 24, 24, 24; /* #181818 */
    --background-end-rgb: 119, 20, 176; /* #7714B0 */
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 24, 24, 24; /* #181818 */
      --background-end-rgb: 119, 20, 176; /* #7714B0 */
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)) 0%,   /* Start with dark color */
      rgb(var(--background-start-rgb)) 70%,  /* Dark color up to 60% */
      rgb(60, 7, 88) 100%,  /* Transition color */
      rgb(var(--background-end-rgb)) 100%    /* Purple from 80% to 100% */
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }